body {
    background-image: url('../assets/Cover_v02.jpg');
    background-size: cover;
    margin: 0; /* Remove default margins for the body */
    padding: 0; /* Remove default padding for the body */
}

.md-main__inner {
    background-color: #ffffff;
    opacity: 0.8;
    z-index: -1;
  }